<h2>Nightlife in Boston</h2>
<% if user_signed_in? %>
  <%= button_to "Add Bar or Club", new_venue_path, id: "new-venue-btn", method: :get %>
<% end %>
<% @venues.each do |venue| %>
  <div class="venue">
    <%= link_to venue.vname, venue_path(venue.id) %>
  </div>
<% end %>
